# Local development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=kartslalom
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Built dynamically by Makefile if not set
# DATABASE_URL=postgresql://postgres:password@localhost:5432/kartslalom

# Production (server)
PROJECT_NAME=kartslalom
FQDN=kartslalom.just-motorsport.de
